@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
}
.universalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.universalAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.universalBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.universalgridCenter {
  display: grid;
  justify-content: center;
  align-items: center;
}
.universalFlex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container {
  width: 70vw;
}
.check {
  display: none;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90% !important;
  }
  .universalCenter {
    display: grid;
  }
  .check {
    display: block;
  }
  .uncheck {
    display: none !important;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 99% !important;
  }
}
